*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

p {
  font-family: "Barlow", sans-serif;
}

h1,
h2 {
  font-family: "Fraunces", serif;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 6.25px;
  margin-top: 0;
  margin-bottom: 52px;
}

header {
  height: 538px;
  background-image: url("./images/mobile/image-header.jpg");
  background-position: center;
  background-size: contain;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 24px 88px;
}

.nav-links {
  display: none;
}

/* cards */
.cards a {
  font-size: 15px;
  color: #24303e;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-1,
.card-4 {
  height: 309px;
  width: 327px;
  margin: 64px 24px;
}

.card-1 h2,
.card-4 h2 {
  font-size: 32px;
  letter-spacing: -0.23px;
  color: #24303e;
  margin-top: 0;
}

.card-1 p,
.card-4 p {
  font-size: 18px;
  letter-spacing: -0.13px;
  line-height: 30px;
  color: #808397;
  margin-bottom: 32px;
}

.card-1 {
  order: 2;
}

.card-2 {
  height: 312px;
  background-image: url(./images/mobile/image-transform.jpg);
  background-size: cover;
  order: 1;
}

.card-3 {
  height: 312px;
  background-image: url(./images/mobile/image-stand-out.jpg);
  background-size: cover;
  order: 3;
}

.card-4 {
  order: 4;
}

.card-5 {
  height: 600px;
  background-image: url(./images/mobile/image-graphic-design.jpg);
  background-size: cover;
  order: 5;
  color: #24554a;
}

.card-6 {
  height: 600px;
  background-image: url(./images/mobile/image-photography.jpg);
  background-size: cover;
  order: 6;
  color: #19536c;
}

.card-5 h2,
.card-6 h2 {
  font-size: 28px;
  letter-spacing: -0.2px;
}

.card-5 p,
.card-6 p {
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 27px;
}

.card-5 div,
.card-6 div {
  padding: 398px 24px 59px;
}

/* testimonials */
.testimonials {
  width: 327px;
  /* height: 1108px; */
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #a7aaad;
  letter-spacing: 4px;
  margin: 64px 24px;
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50px;
}

.testimonial {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  color: #5b636d;
  margin-bottom: 32px;
}

.client {
  font-family: "Fraunces", serif;
  color: #24303e;
  font-weight: 900;
  font-size: 18px;
  line-height: 22.19px;
  letter-spacing: -0.13px;
  margin-bottom: 9px;
}

.client-title {
  color: #a7aaad;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 64px;
}

/* gallery */
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.gallery-img {
  width: 188px;
  height: 188px;
  background-size: cover;
}

.gallery-1 {
  background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
}
.gallery-2 {
  background-image: url(./images/mobile/image-gallery-orange.jpg);
}
.gallery-3 {
  background-image: url(./images/mobile/image-gallery-cone.jpg);
}
.gallery-4 {
  background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
}

/* footer */
footer {
  height: 350px;
  background-color: #90d4c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 64px 39px 30px;
}

.footer-container {
  width: 297px;
  height: 206px;
}

.footer-logo {
  width: 170px;
  height: 33px;
  margin-bottom: 40px;
}

.company-details {
  width: 297px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 88px;
}

.company-details a {
  color: #458d7e;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: -0.13px;
  font-family: "Barlow", sans-serif;
}

.social-media {
  width: 164px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}

.attribution {
  font-size: 12px;
  font-family: "Fraunces", serif;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  color: #458d7e;
}

.company-details a:hover,
.social-media:hover,
.attribution a:hover {
  cursor: pointer;
  color: #fff;
}

@media (min-width: 90em) {
  .container {
    width: 1440px;
  }
  /* header */
  header {
    height: 800px;
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-links {
    display: flex;
  }

  /* cards */
  .card-2 {
    width: 100%;
    background-image: url(./images/desktop/image-transform.jpg);
  }

  .card-3 {
    background-image: url(./images/desktop/image-stand-out.jpg);
  }

  .card-5 {
    background-image: url(./images/desktop/image-graphic-design.jpg);
  }

  .card-6 {
    background-image: url(./images/desktop/image-photography.jpg);
  }

  /* testimonials */

  /* gallery */
  .gellery-1 {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
  }
  .gellery-2 {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
  }
  .gellery-3 {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
  }
  .gellery-4 {
    background-image: url(./images/desktop/image-gallery-sugar-cubes.jpg);
  }

  /* footer */
}
